doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Inert | Minimalistic tower defense in the browser

    meta(itemprop='name' content='Inert')
    meta(property='og:title' content='Inert')
    meta(name='twitter:title' content='Inert')
    meta(name='description' content='Minimalistic tower defense in the browser')
    meta(itemprop='description' content='Minimalistic tower defense in the browser')
    meta(property='og:description' content='Minimalistic tower defense in the browser')
    meta(name='twitter:description' content='Minimalistic tower defense in the browser')
    meta(itemprop='image' content='/img/banner.png')
    meta(property='og:image' content='/img/banner.png')
    meta(name='twitter:image' content='/img/banner.png')
    link(rel='author', href='/humans.txt')

    link(rel='apple-touch-icon' sizes='57x57' href='/img/icons/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='/img/icons/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/img/icons/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/img/icons/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/img/icons/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/img/icons/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='/img/icons/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/img/icons/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='/img/icons/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='/img/icons/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/img/icons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='/img/icons/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/img/icons/favicon-16x16.png')
    link(rel='manifest' href='/manifest.webmanifest')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='/img/icons/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')

    link(rel='stylesheet', href='styles/styles.less')
    link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap', rel='stylesheet')
  body
    #inert
      canvas#canvas
      .controls
        h1 Inert
        .subtitle Minimalistic Tower Defense
        hr
        .info
          table.table5050
            tbody
              tr
                td Wave:
                td
                  span#wave.accent 1
                  |
                  |
                  span#delay
              tr
                td Cash:
                td.accent
                  span#cash 12
                  |  ¢
        hr
        .towers
          #towers-wrapper
          #towers-stats
        hr
        table.table5050
          tbody
            tr
              td Spawners:
              td
               a#spawner1.spawner(href="?spawners=1") 1
               a#spawner2.spawner(href="?spawners=2") 2
               a#spawner3.spawner(href="?spawners=3") 3
               a#spawner4.spawner(href="?spawners=4") 4
        hr
        footer
          div
            | Inert
            |
            span#version.accent v0.1.1
          .code
            span Source code:
            a(href='//github.com/CorentinTh/inert', target='_blank')
              svg(role='img', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                path(d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12')
          div
            | Made with
            |
            span.accent ♥
            |  by
            |
            a(href='//github.com/CorentinTh', target='_blank')  Corentin Thomasset
      #snackbar
      #game-over
        .description Game Over
        button(onclick='location.reload()') Restart

    script(src='../src/main.ts', async='', defer='')

    if process.env.PLAUSIBLE_API_HOST && process.env.PLAUSIBLE_DOMAIN
      script(async=true defer=true data-domain=process.env.PLAUSIBLE_DOMAIN src=`${process.env.PLAUSIBLE_API_HOST}/js/plausible.js`)
